* {
    box-sizing: border-box;
    font-family: "Verlag Black", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
  }
  body {
    font-family: "Verlag Black", Arial, Helvetica, sans-serif;
    background-image: url("./img/background-img.jpg");
    background-size: contain;

    display: flex;
    flex-direction: column;
    height: 100%;
    
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    box-sizing: border-box;

    flex:0.1;
    margin: 0px;
    padding: 0px;
  }
  
  /* Style the topnav links */
  .header-title {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Style the content */
  .content {
    background-color: #ddd;
    background-color: rgba(255, 0, 0, 0);
    
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px;
    flex:0.8;
  }

  .instructions {
    font-size: 30px;
    font-family: "Verlag Black", sans-serif;
    font-weight: 600;
  }

#search-box{
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}
.search-container{
  display: flex;
  gap:20px;
}
.search-container>input:invalid {
    border: 2px solid red;
}

.search-container>input:valid {
    border: 2px solid black;
  }
  
#search-button{
  padding: 0px 10px;
}  


/* Loading screen */

#loading-screen-container{
  height: 200px;
  width: 200px;

  display:flex;
  justify-content: center;
  align-items: center;
}

#loading-screen{
  display: none;
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #f28841;
  border-radius: 100%;
  
  animation: spin 1s infinite linear;
  align-self: center;
}
#loading-screen.display {
  display: block;
}

/* Main weather content */

#main-weather-content.loading{
  width: 95%;
  height:100%;
  display: flex;
  justify-content: center;
}

#main-weather-content.active{ 
  

  width: 95%;
  height:100%;

  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  gap:20px;

  animation: fadeInAnimation ease 1s;
}

#main-weather-content.hidden{
  display: none;
}


#main-weather-content > div{
  background-color:rgba(0, 0, 0, 0.473);
  color:#f1f1f1;
  animation: fadeInAnimation ease 1s;
}

/* #Today-weather */
#main-weather-content > #today-weather{
  grid-column: 1/2;
  grid-row: 1/3;

  border-radius: 20px;
  
}

#today-weather>div{
  text-align: center;
}

#today-weather>#city-name-text{
  font-size: 30px;
}

.image-container{
  display: flex;
  justify-content: center;
  animation: fadeInAnimation ease 1s;
  padding: 50px 0px;
}

.image-container > img{
  height:15vh;
}

#today-weather>#today-temperature{
  font-size: 30px;
}

#today-weather>#today-weather-desc{
  font-size: 20px;
}

#today-weather>#today-data-time{
  font-size:15px;
  font-weight: 200;
	margin-top: 5rem;
}


/* weather-forecast */

#main-weather-content > #weather-forecast{
  grid-column: 2/3;
  grid-row: 1/2;

  border-radius: 20px;

}

.forecast-info{
  width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forecast-info>img{
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}








/* Weather-Info */
#main-weather-content > #weather-info{
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-rows:20px 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);

  border-radius: 20px;
}


#weather-info > #weather-info-header{
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#weather-info > .weather-info-info{
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-bottom: 2rem;
}

.weather-info-img-container{
  width: 100%;
  height: 50%;
  display: flex;
}

.weather-info-img{
  height: 5vh;
  width: auto;
  display: block;
  margin: auto;
}

.weather-info-subtitle{
  padding-top: 5px;
  font-weight: 100;
  font-size: 15px;
}

  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    color: #f2f2f2;
    box-sizing: border-box;
    flex:0.1;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.733);

    display:flex;
    justify-content: center;
    align-items: center;
  }

/* Flickity */
.flickity-page-dots{
  bottom:0.7rem;
}

/* Animations */
  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}